<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataAttrDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50A673371C0D369F0020CD50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A673531C0D369F0020CD50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A6735E1C0D369F0020CD50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
